select,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  padding: 5px 10px;
  line-height: 1.35;
  height: 36px;
  border: 1px solid #cbcbcb;
}

.input-group-field {
  outline: none;
}

.ff-montserrat {
  font-family: "Montserrat", serif;
}

.text-black {
  color: #000;
}

.site-notice {
  color: black;
  font-size: 11px;
  letter-spacing: 0.05em;
}

.search-section input {
  border: 0;
  border-bottom: 1px solid #e7e7e7;
  color: #323232;
  width: 180px;
  line-height: 14px;
  padding: 0 30px 0 12px;
  height: 30px;
  background: #fafafa;
  border-color: #e7e7e7;
  color: #000000;
  text-align: left;
  margin-bottom: 10px;
}

.search-section .input-group-btn button {
  background: transparent;
  width: 30px;
  height: 30px;
  display: block;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  border: 0;
  color: #000000;
}

.search-section .input-group-btn button:focus {
  outline: none;
}

.item_count {
  background: #f69aef;
  padding: 4px 8px;
  margin-left: 6px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}

ul#nav li.dropdown ul.submenu {
  background: #fff;
  text-align: left;
  position: absolute;
  left: 0;
  width: 215px;
  z-index: 51;
  padding: 0;
  margin-bottom: 0;
  border: 1px solid #c5cacb;
  border-style: solid;
  border-top-width: 0;
  top: 49px;
}

.site-footer {
  padding: 37px 0 110px;
  letter-spacing: 0.02em;
}

.site-footer a,
.footer-bottom address {
  color: #fff;
  margin-bottom: 18px;
  line-height: 1.6;
  font-style: normal;
  font-size: 12px;
}

.footer-top {
  padding-bottom: 26px;
}

.footer-bottom {
  border-top: 1px solid #282828;
  padding-top: 25px;
}

.footer-bottom img.payment {
  margin-right: 20px;
}

.site-footer .text span,
.site-footer h3 {
  color: #f897ff;
  font-family: "Montserrat", serif;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin-bottom: 16px;
}

.newsletter .input-group-field {
  width: 245px;
  max-width: 100%;
  background: none;
  border: 1px solid #3b3b3b;
  color: #969696;
  float: left;
  margin: 0 5px 10px 0;
  padding: 0 15px;
  letter-spacing: 0.02em;
  border-radius: 0;
}

.input-group .btn-secondary,
.input-group .input-group-field {
  height: 36px;
}

.newsletter .input-group-btn > .btn,
.newsletter .input-group-btn input[type="submit"] {
  background-color: #f897ff;
  font-size: 11px;
  color: #fff;
  border: 0;
  border-radius: 0;
  padding: 0 25px;
  text-transform: uppercase;
  line-height: 34px;
  height: 36px;
  letter-spacing: 0.05em;
  font-weight: 700;
}

.newsletter .input-group-btn > .btn:hover {
  background: #fff;
  color: #000;
}

.newsletter .input-group-btn {
  float: left;
  width: auto;
  position: relative;
  font-size: 0;
  white-space: nowrap;
}
